{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Chat {% endblock %}</h1>
<form method="post">
    <label for="prompt">Ask</label>
    <br>
    <textarea name="prompt"
              placeholder="Type your question or message"
              rows="1"
              cols="60">{{ request.form['prompt'] }}</textarea>
    <br>

    <label for="completion">Response</label>
    <br>
    <label name="completion">{{ completion }}</label>
    <br>
    <button type="submit">Send</button>
</form>
{% endblock %}